.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    background-image: url("../../assets/welcomeBackground.png");
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.welcome-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}