<div class="welcome">
    <div class="main-content">
        <div class="wrapper">

            <h1>
                Welcome to myFlix!
            </h1>
            <div class="welcome-buttons">
                <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;"
                    color="accent">
                    Sign Up
                </button>
                <button mat-raised-button color="accent" (click)="openUserLoginDialog()" style="margin-right: 10px;">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>