mat-card-actions.mat-card-actions {
    display: flex;
    justify-content: space-evenly;
}

.movie-image {
    border: 3px solid black;
}

.card-header-text {
    display: flex;
    justify-content: space-evenly;
}

.movie-button {
    background-color: #55fcfc;
}

.mat-icon-button {
    position: absolute;
    left: 5px;
    top: 5px;
}